<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spring boot email test</title>
</head>
<body>
<div style="
    width: 100%; height: 100%; margin: 10vh auto 0vh auto; border: 1px solid #339EAC;">
    <img src="https://project-youngwoo.s3.ap-northeast-2.amazonaws.com/email_top.png" width="100%" height="85.8px">
    <img style="position: relative;top: 28px; left: 28px;" src="https://project-youngwoo.s3.ap-northeast-2.amazonaws.com/logo_gray.png" width="46.1px">
    <div style="position: relative; margin: 40px 18px 18px 18px; padding: 30px 0px; border: solid 1px #666666; border-left: none; border-right: none; opacity: 0.8;">
        <p style="
            text-align: center;
            font-family: 'Noto Sans KR', 'helvetica', sans-serif;
            font-size: 15px;
            font-weight: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: #292929;
            margin : 20px 0px 0px 0px;"

           th:text="${userName + ' 님 안녕하세요, 북을입니다. 판매자가 ' + title + '을 베르크만스 우정원 2층, 그라찌에 옆에 위치한 ' + boogleBoxId + '번 북을박스에 비치했습니다. 비밀번호는 ' + boogleBoxPassword + '입니다.'}"></p>

        <p style="
            text-align: center;
            font-family: 'Noto Sans KR', 'helvetica', sans-serif;
            font-size: 15px;
            font-weight: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: #292929;" th:text="${''}"></p>

        <p style="
            text-align: center;
            font-family: 'Noto Sans KR', 'helvetica', sans-serif;
            font-size: 15px;
            font-weight: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: #292929;" th:text="${'물품을 24시간 이내에 수령하신 후, 아래 버튼을 통해 수령 완료 버튼을 꼭! 눌러주세요. 고객님께서 수령 완료 확인을 해주셔야 판매자에게 입금이 완료됩니다!'}"></p>

        <p style="
            text-align: center;
            font-family: 'Noto Sans KR', 'helvetica', sans-serif;
            font-size: 15px;
            font-weight: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: #292929;" th:text="${''}"></p>

        <p style="
            text-align: center;
            font-family: 'Noto Sans KR', 'helvetica', sans-serif;
            font-size: 15px;
            font-weight: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: #292929;" th:text="${'24시간 이내에 수령 완료 버튼을 누르지 않으면 ' + userName + ' 님의 신용도가 떨어져 이후 거래에서 불이익을 받을 수 있습니다. :-('}"></p>

        <div style="
            width: 90%;
            margin: 27px auto;
            padding-bottom: 20px;
            border-radius: 10px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #F2F2F2;
            display: flex;
            justify-content: center;">

            <img style="
                width: 96px;
                height: 143px;
                margin: 27px;
                border-radius: 5px;
                flex: 1;" th:src="${imageUrl}">

            <div style="
                flex: 3;
                margin: 27px 0px;">

                <h1 style="
                   font-family: 'Noto Sans KR', 'helvetica', sans-serif;
                   font-size: 20px;
                   font-weight: 500;
                   line-height: 1.25;
                   text-align: left;
                   color: #292929;
                   margin-top: 0px;" th:text="${title}"></h1>

                <h3 style="
                font-family: 'Noto Sans KR', 'helvetica', sans-serif;
                font-size: 14px;
                font-weight: 300;
                line-height: 1.21;
                text-align: left;
                color: #656565;" th:text="${'주문일자 : ' + regiTime + ' | 금액 : ' + regiPrice + '원'}"></h3>

                <h2 style="
                font-family: 'Noto Sans KR', 'helvetica', sans-serif;
                font-size: 16px;
                font-weight: normal;
                line-height: 4;
                text-align: left;
                color: #292929;" th:text="${'판매자 : ' +  sellerNickname}"></h2>
            </div>
        </div>
        <div style="text-align: center">
            <button style="
            display: inline;
            justify-content: center;
            margin: 0 auto;
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 1rem;
            font-weight: 500;
            text-align: center;
            color: #fff;
            border-radius: 10px;
            width:153px;
            height:39px;
            background-color:#339eac;
            box-shadow: 9px 9px 16px rgba(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);"
            ><a href="http://boogle.shop/mypage" style="color:#ffffff;">수령하기</a></button>
        </div>
    </div>
    <div style="padding: 2px 0 12px 0;">
        <p style="color : #292929; text-align: center">북을을 믿고 거래해주셔서 감사합니다.</p>
        <p style="color : #292929; text-align: center">항상 편리하고 믿음직한 거래 환경을 제공하는 '북을'이 되겠습니다.</p>
    </div>
</div>
</body>
</html>